.root {
    -fx-background-color: #FAF2EB;
}
.label {
    -fx-font-size: 14;
    -fx-font-family: 'Lucida Console', monospace;
}
.title{
    -fx-font-size: 64;
    -fx-font-family: 'Brush Script MT', cursive;
}
.score {
    -fx-font-size: 14;
}